<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.YiBaby">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 向SD卡的读取文件的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".yb_Main_Net" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".Welcome" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".yb_Main_Net_Test" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".yb_Main_Net_Test2" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
        <!-- </activity> -->
        <activity
            android:name=".yb_Main_Net_Test3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yb_Comment_Detil"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Mum_Circle"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_BBS_FragmentManager"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_DetailComments_NoNeed"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Comment1_Detil_NoNeed"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Comment2_Detil_NoNeed"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Energy_Exchange"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_BabyWall"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_BabyGrown"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_NearShop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment.ChannerFragmentMangerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Mood"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Go_Milk"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Login_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Share_App"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_QQ_Head_Activity"
            android:theme="@style/Theme.FloatActivity" />

        <!-- 评论里面的小头像 -->
        <activity
            android:name=".yb_NewTopic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_Go_Milk_Fg_Ms"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".YiBaby_ItemMilkDteil_NoNeed"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_ItemMilkDteil"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".zxing.BarCodeTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- <activity -->
        <!-- android:name="com.ertanhydro.zxing.CaptureActivity" -->
        <!-- android:label="@string/app_name" > -->
        <!-- &lt;!&ndash;<intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt; -->


        <!-- &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
        <!-- &lt;!&ndash;</intent-filter>&ndash;&gt; -->
        <!-- </activity> -->

        <activity
            android:name=".yb_ImageDetilActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_SeeComment_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yb_MyTopicActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".yibyMyShopCar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ybBuyNow"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ybRegister"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".yb_SignInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
